td{
    width : 60px;
    height: 60px;
    border: 1px solid rgb(36, 5, 5);
    background-color: rgb(143, 104, 46);
    font-size: 50px;
    text-align: center;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;

}

td:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
.odd td:nth-child(2n+1){
    background-color: beige;
}
.even td:nth-child(2n){
    background-color: beige;
}

